name: Release

on:
  release:
    types: [created]

permissions:
  contents: write

jobs:
  publish-linux-x64:
    name: Publish binary on Linux x64
    runs-on: ubuntu-latest
    env:
      PACKAGE: ckb-debugger_${{ github.event.release.tag_name }}_x86_64-unknown-linux-gnu
    steps:
    - uses: actions/checkout@v4
    - name: Install Protoc
      uses: arduino/setup-protoc@v3
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
    - name: Build
      run: cd ckb-debugger && cargo build --release
    - name: Archive files
      run: |
        mkdir dist
        cp target/release/ckb-debugger dist
        cp LICENSE dist
        cd dist && tar -cvzf ${{ env.PACKAGE }}.tar.gz ckb-debugger LICENSE
    - name: Generate checksum
      run: cd dist && sha256sum ${{ env.PACKAGE }}.tar.gz > ${{ env.PACKAGE }}-sha256.txt
    - name: Upload
      uses: softprops/action-gh-release@v2
      with:
        files: |
          dist/${{ env.PACKAGE }}.tar.gz
          dist/${{ env.PACKAGE }}-sha256.txt

  publish-linux-aarch64:
    name: Publish binary on Linux aarch64
    runs-on: ubuntu-24.04-arm
    env:
      PACKAGE: ckb-debugger_${{ github.event.release.tag_name }}_aarch64-unknown-linux-gnu
    steps:
    - uses: actions/checkout@v4
    - name: Install Protoc
      uses: arduino/setup-protoc@v3
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
    - name: Build
      run: cd ckb-debugger && cargo build --release
    - name: Archive files
      run: |
        mkdir dist
        cp target/release/ckb-debugger dist
        cp LICENSE dist
        cd dist && tar -cvzf ${{ env.PACKAGE }}.tar.gz ckb-debugger LICENSE
    - name: Generate checksum
      run: cd dist && sha256sum ${{ env.PACKAGE }}.tar.gz > ${{ env.PACKAGE }}-sha256.txt
    - name: Upload
      uses: softprops/action-gh-release@v2
      with:
        files: |
          dist/${{ env.PACKAGE }}.tar.gz
          dist/${{ env.PACKAGE }}-sha256.txt

  publish-macos-x64:
    name: Publish binary on macOS x64
    runs-on: macos-13
    env:
      PACKAGE: ckb-debugger_${{ github.event.release.tag_name }}_x86_64-apple-darwin
    steps:
    - uses: actions/checkout@v4
    - name: Install Protoc
      uses: arduino/setup-protoc@v3
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
    - name: Build
      run: cd ckb-debugger && cargo build --release
    - name: Archive files
      run: |
        mkdir dist
        cp target/release/ckb-debugger dist
        cp LICENSE dist
        cd dist && tar -cvzf ${{ env.PACKAGE }}.tar.gz ckb-debugger LICENSE
    - name: Generate checksum
      run: cd dist && shasum -a 256 ${{ env.PACKAGE }}.tar.gz > ${{ env.PACKAGE }}-sha256.txt
    - name: Upload
      uses: softprops/action-gh-release@v2
      with:
        files: |
          dist/${{ env.PACKAGE }}.tar.gz
          dist/${{ env.PACKAGE }}-sha256.txt

  publish-macos-aarch64:
    name: Publish binary on macOS aarch64
    runs-on: macos-latest
    env:
      PACKAGE: ckb-debugger_${{ github.event.release.tag_name }}_aarch64-apple-darwin
    steps:
    - uses: actions/checkout@v4
    - name: Install Protoc
      uses: arduino/setup-protoc@v3
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
    - name: Build
      run: cd ckb-debugger && cargo build --release
    - name: Archive files
      run: |
        mkdir dist
        cp target/release/ckb-debugger dist
        cp LICENSE dist
        cd dist && tar -cvzf ${{ env.PACKAGE }}.tar.gz ckb-debugger LICENSE
    - name: Generate checksum
      run: cd dist && shasum -a 256 ${{ env.PACKAGE }}.tar.gz > ${{ env.PACKAGE }}-sha256.txt
    - name: Upload
      uses: softprops/action-gh-release@v2
      with:
        files: |
          dist/${{ env.PACKAGE }}.tar.gz
          dist/${{ env.PACKAGE }}-sha256.txt

  publish-wasm-wasi:
    name: Publish binary on Wasm wasi
    runs-on: ubuntu-latest
    env:
      PACKAGE: ckb-debugger_${{ github.event.release.tag_name }}_wasm32-wasip1
    steps:
    - uses: actions/checkout@v4
    - name: Install Protoc
      uses: arduino/setup-protoc@v3
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
    - name: Build
      run: |
        cd ckb-debugger
        sudo apt install gcc-multilib
        rustup target add wasm32-wasip1
        cargo build --release --target wasm32-wasip1
    - name: Archive files
      run: |
        mkdir dist
        cp target/wasm32-wasip1/release/ckb-debugger.wasm dist
        cp LICENSE dist
        cd dist && tar -cvzf ${{ env.PACKAGE }}.tar.gz ckb-debugger.wasm LICENSE
    - name: Generate checksum
      run: cd dist && sha256sum ${{ env.PACKAGE }}.tar.gz > ${{ env.PACKAGE }}-sha256.txt
    - name: Upload
      uses: softprops/action-gh-release@v2
      with:
        files: |
          dist/${{ env.PACKAGE }}.tar.gz
          dist/${{ env.PACKAGE }}-sha256.txt

  publish-windows-x64:
    name: Publish binary on Windows x64
    runs-on: windows-latest
    env:
      PACKAGE: ckb-debugger_${{ github.event.release.tag_name }}_x86_64-pc-windows-msvc
    steps:
    - uses: actions/checkout@v4
    - name: Install Protoc
      uses: arduino/setup-protoc@v3
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
    - name: Build
      run: cd ckb-debugger && cargo build --release
    - name: Archive files
      run: |
        mkdir dist
        copy target/release/ckb-debugger.exe dist
        copy LICENSE dist
        cd dist && tar -cvzf ${{ env.PACKAGE }}.tar.gz ckb-debugger.exe LICENSE
    - name: Generate checksum
      run: cd dist && Get-FileHash ${{ env.PACKAGE }}.tar.gz > ${{ env.PACKAGE }}-sha256.txt
    - name: Upload
      uses: softprops/action-gh-release@v2
      with:
        files: |
          dist/${{ env.PACKAGE }}.tar.gz
          dist/${{ env.PACKAGE }}-sha256.txt

  publish-crates-io:
    name: Publish crates to crates.io
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install Protoc
      uses: arduino/setup-protoc@v3
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
    - name: Publish
      run: |
        cargo login ${{ secrets.CARGO_REGISTRY_TOKEN }}
        cd ckb-vm-pprof && cargo publish && cd ..
        cd ckb-vm-debug-utils && cargo publish && cd ..
        cd ckb-debugger && cargo publish && cd ..
        cd ckb-vm-pprof-protos && cargo publish --no-verify && cd ..
        cd ckb-vm-pprof-converter && cargo publish && cd ..
        cd ckb-vm-signal-profiler && cargo publish && cd ..
